<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <title>shopping-cart</title>
</head>

<body>
  <div class="container">
    <div class="box card-panel z-depth-3">
      <div class="invoice">
        <table class="highlight">
          <h2>YOUR ORDER:</h2>
          
          <% for (item of orderItems) { %>
            <p> QUANTITY: <%= item.quantity %> </p>
            <p> NAME: <%= item.name %> </p>
            <p> PRICE: <%= item.price %> </p>
            <img class = 'menu-picture' src="<%= item.photo_url%>">
          <% } %>

        </table>

        <div id="checkout" class="button checkout row">
          <button type="button" class="btn">Checkout</button>
        </div>
      </div>



    </div>

  </div>

  <!--end container -->


  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>
