<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
    <title>shopping-cart</title>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>


  <div class="wrap cf">

    <div class="heading cf">
      <h1>My Order</h1>
      <a href="#" class="continue">Continue Order</a>
    </div>
    <div class="cart">

      <ul class="cartWrap">
      <% if (orderItems.length > 0) { %>
        <% for (item of orderItems) { %>
          <li class="items odd">
            <div class="infoWrap">
              <div class="cartSection">
                <h3>
                  <%= item.name %>
                </h3>
              </div>
              <div class="counter">
                <form class="form-inline" action="/cart/addItem/<%= item.id %>" method="POST">
                <button class="cnt increase">+</button>
                </form>
                <div class="count">
                  <%= item.quantity %>
                </div>
                <form class="form-inline" action="/cart/removeOne/<%= item.id %>" method="POST">
                  <button class="cnt decrease">-</button>
                  </form>
              </div>
              <div class="prodTotal cartSection">
                <p>
                  <%= item.item_price %>$
                </p>
              </div>
              <form class="form-inline" action="/cart/removeAll/<%= item.id %>" method="POST">
              <button class="cartSection removeWrap">X</button>
            </form>
            </div>
          </li>
          <% } %>
        <% } else { %>
          <h1>Your cart is empty!</h1>
        <% } %>
      </ul>
    </div>

    <div class="subtotal cf">
      <ul>

        <li class="totalRow"><span class="label">delivery</span><span class="value">free</span></li>


        <li class="totalRow final"><span class="label">Total</span><span class="value"><%= totalPrice %></span></li>
        <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
      </ul>
    </div>
  </div>

  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/scripts/app.js"></script>

  <script>
    // Remove Items From Cart
    // $('a.remove').click(function () {
    //   event.preventDefault();
    //   $(this).parent().parent().parent().hide(400);
    // })
    // increase and decrease
    // let num = 1;
    // $('.increase').click(function () {
    //   const collection = document.getElementsByClassName('count');
    //   num = num + 1;
    //   collection[0].innerHTML = num;
    // })
    // $('.decrease').click(function () {
    //   const collection = document.getElementsByClassName('count');
    //   num = num - 1;
    //   collection[0].innerHTML = num;
    // })
  </script>
</body>

</html>