<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="../styles/main.css" type="text/css" />

  <title>Menu page</title>
</head>
<header>
  <%- include('partials/header'); %>
</header>

<body>
  <h1 class='menu'>Select your order from our delicious menu!</h1>
  <% for(let item of items) {  %>
<<<<<<< HEAD
    <div class='menu-item'>
      <p><%= item.name%></p>
      <p>Price: <%= item.price%>$</p>
      <img src=<%= item.photo_url%>>
=======
    <div class="menu-item">
      <p><%= item.name%></p>
      <p>Price: <%= item.price%>$</p>
      <img class = 'menu-picture' src="<%= item.photo_url%>">
      <form class="form-inline" action="/cart/addItem/<%= item.id %>" method="POST">
        <button type="submit" class="btn addToCart" style="background-color: blue; color: white">Add to cart!</button>
      </form>
>>>>>>> 4dd5b7987682525186ab43cca3628de414d2960d
    </div>
  <% } %>
</body>
